.navbar {
    /* Quita los redondos de la lista*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*El contenido es recortado y nos e muestran barras de posicion*/
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}